page-login {
        // ion-content {
            //@at-root background: #32db64 !important; 
       //  }
     ion-card{
         position : relative;
         text-align: center;
         
     }
     .card-title{
         position : absolute;
         top: 36%;
         font-size: 1.0cm;
         width: 100%;
         font-weight: bold;
         color: #ffffff;
     }
     .car-subtitle {
         position : absolute;
         top: 52%;
         font-size: 1.0cm;
         width: 100%;
         font-weight: bold;
         color: #ffffff;
     }
     }